h2 span {
  color: var(--labelColor);
}
.portfolio_projects {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_wrapper {
   width: 420px;
  height: 230px;
  border-radius: 0.5rem;
  position: relative;
}
.project_img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.project_info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0.5rem;
}
.technology_wrapper {
  display: flex;
  margin: 0.5rem 0;
}
.technology {
  background: var(--secondaryColor);
  padding: 0.3rem 0.4rem;
  margin: 0 auto;
  border-radius: 0.3rem;
}
.project_link {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.project_link a {
  font-size: 23px;
  margin: 0 10px;
  color: inherit;
}

.img_wrapper:hover .project_info {
  display: block;
  background: rgba(0, 0, 0, 0.849);
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
}
